<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pdfWidth</key>
	<integer>600</integer>
	<key>pdfPadding</key>
	<integer>60</integer>
	<key>pdfHeight</key>
	<real>1024</real>
	<key>pdfRowHeight</key>
	<integer>44</integer>
	<key>pdfHeaderHeight</key>
	<integer>30</integer>
	<key>pdfName</key>
	<string>Receipt</string>
	<key>pdfFontSize</key>
	<integer>20</integer>
	<key>maxAttempts</key>
	<integer>3</integer>
</dict>
</plist>
